/* Перевёртыш */
@media all and (orientation: portrait){
  body{
    width: 100%;
    overflow: hidden;
  }
  .forrotate{display: block;}
  .screen_1{display: none;;}
  .screen_2{display: none;}
  .screen_3{display: none;}
  .fscreen_4{display: none;}
}
@media all and (orientation: landscape){
  .forrotate{display: none;}
}
@media only screen and (min-width: 320px) and (max-width: 789px){}
